[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.7"
twine = "*"

[packages]
helloworld = {path = ".",editable = true}

[requires]
python_version = "2.7"
